{% extends 'base.html.twig' %}
{%block title%}CV - My WebSite  {% endblock %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
	<title> Curriculum Vitae</title>	
</head>
<body>

      <div id="CV" class="jumbotron">
          <div><!-- Definition of the CV -->   
		        <h1>Curriculum Vitae</h1>
		        <br>
		        <h2>Personal Details :</h2>
			     <ol>
				      <il id="myname">Achraf Mabrouk</il><br>
				      <il><strong>Home address :</strong> Street 18 January 1952 Ksibet El Mediouni,Monastir 5031</il><br>
				      <il><strong>Email : </strong> mab.achraf95@gmail.com</il><br>
				      <il><strong>Phone Number :</strong> +21653246377</il><br>
				      <il><strong>Date of Birth :</strong> 30 December 1995</il><br>
				      <il><strong>Nationality :</strong> Tunisian</il><br>
				      <il><strong>Gender :</strong> Male</il><br>
				      <il><strong>Situation :</strong> Single</il>
			     </ol>
	       </div>
	         <hr>
	       <div>
		        <h2>Education :</h2>
		       <ul>
			    	<li><b>2015..2017 :</b> Starting Studying Computer Science Licence in Faculty of Science</li>
					<li><b>2015 :</b> Bachelor's degree in Computer Science</li>
		       </ul>
	       </div>
	       <hr>
	       <div>
		        <h2>Skills :</h2>
		        <ul>
			       <li><strong>Self-Motivation</strong></il>
			       <li><strong>Well-Organized</strong></il>
		        </ul>
	       </div><hr>
	       <div>
		<h2>Programming Languages Skills :</h2>
		<ul>			
			<li>C / C++</li>
			<li>C#.NET</li>
			<li>Java EE</li>
			<li>MYSQL</li>
			<li>HTML / CSS</li>									
		</ul>
	</div>
       <div>
		<h2>Interests :</h2>
		<ul>
			<li>Sports (Calisthenics,Gymnastic,Fitness,Run...)</li>
			<li>Technology</li>
			<li>Traveling</li>			
		</ul>
	</div>
   </div>

</body>
</html>
{% endblock %}
