{% extends 'base.html.twig' %}
{% block body %}
<main>
      <div id="Intro" class="jumbotron">
        <p><b>Hello And Welcome to my Website, My Name Is Achraf Mabrouk.
        Well i'm an IT Student in Faculty of Sciences Monastir and this Site dedicated for Sharing my personal information and putting My Courses.</b></p>
      </div>
</main>      
{% endblock %}
